<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <!--<link rel="stylesheet" href="../public/lib/bootstrap/dist/css/bootstrap.css">-->
    <style>
        .media-left img,.navbar-right img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">珠峰博客</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <% if(user){%>
                <li><a href="/article/add">发表文章</a></li>
                <li><a href="/user/signout">退出</a></li>
                <%}else{%>
                <li><a href="/user/signup">注册</a></li>
                <li><a href="/user/signin">登录</a></li>
                <%}%>
            </ul>
            <%
            if(user){%>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">
                    <img src="<%=user.avatar%>" alt="" class="img-rounded">
                    <%=user.username%></a></li>
            </ul>
            <%}
            %>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <%if(error){%>
            <div class="alert alert-danger text-center" role="alert"><%=error%></div>
        </div>
        <%}%>
        <%if(success){%>
        <div class="alert alert-success text-center" role="alert"><%=success%></div>
    </div>
    <%}%>
    </div>